#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#start {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-image: url(svg/startskaerm.svg);
  background-size: cover;
}

#start_knap {
  position: absolute;
  width: 29%;
  height: 33%;
  top: 60%;
  left: 63%;
  background-image: url(svg/start.svg);
  background-size: cover;
  cursor: pointer;

  animation-name: puls_kf;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes puls_kf {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.9);
  }
}
#start_knap2 {
  position: absolute;
  width: 29%;
  height: 33%;
  top: 69%;
  left: 73%;
  background-image: url(svg/start.svg);
  background-size: cover;
  cursor: pointer;

  animation-name: puls_kf;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes puls_kf {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-image: url(svg/infoskaerm.svg);
  background-size: cover;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(svg/game_over.svg);
  background-size: cover;
}

#spil_igen1 {
  position: absolute;
  width: 100%;
  height: 200%;
  top: -30%;
  left: -6%;
  background-image: url(svg/spil_igen.svg);
  background-size: cover;

  animation-name: puls1_kf;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes puls1_kf {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(0.15);
  }
}

#game_over_points {
  color: white;
  font-size: 0.9em;
  font-family: helvetica;
  position: absolute;
  top: 50%;
  left: 20%;
}
#level_complete_points {
  color: white;
  font-size: 0.9em;
  font-family: helvetica;
  position: absolute;
  top: 46%;
  left: 26%;
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(svg/level_complete.svg);
  background-size: cover;
  top: 0%;
  left: 0%;
}

#spil_igen2 {
  position: absolute;
  width: 100%;
  height: 200%;
  top: -31%;
  left: -2%;
  background-image: url(svg/spil_igen.svg);
  background-size: cover;

  animation-name: puls1_kf;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes puls1_kf {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(0.15);
  }
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(svg/baggrund.svg);
  background-size: cover;
  top: 0%;
  left: 0%;
}

#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.pos1 {
  top: -40%;
  left: 30%;
}
.pos2 {
  top: -40%;
  left: 40%;
}

.pos3 {
  top: -40%;
  left: 50%;
}

.pos4 {
  top: -40%;
  left: 60%;
}

.pos5 {
  top: -40%;
  left: 65%;
}

.tidpos {
  top: 63%;
  left: 76%;
}

.delay1 {
  animation-delay: 0s;
}

.delay2 {
  animation-delay: 0.5s;
}

.delay3 {
  animation-delay: 1s;
}

#good_container1 {
  width: 6%;
  aspect-ratio: 130/270;
  position: absolute;
}
#good_sprite1 {
  background-image: url(svg/valmue.svg);
  background-size: cover;
  width: 110%;
  height: 100%;
}

#good_container2 {
  width: 6%;
  aspect-ratio: 130/270;
  position: absolute;
}

#good_sprite2 {
  background-image: url(svg/solsikke.svg);
  background-size: cover;
  width: 110%;
  height: 100%;
}

#good_container3 {
  width: 6%;
  aspect-ratio: 130/270;
  position: absolute;
}

#good_sprite3 {
  background-image: url(svg/rose.svg);
  background-size: cover;
  width: 120%;
  height: 100%;
}

#bad_container1 {
  width: 6%;
  aspect-ratio: 165/270;
  position: absolute;
}

#bad_sprite1 {
  background-image: url(svg/vissen_rose.svg);
  background-size: cover;
  width: 110%;
  height: 110%;
}
#bad_container2 {
  width: 6%;
  aspect-ratio: 165/270;
  position: absolute;
}

#bad_sprite2 {
  background-image: url(svg/vissen_blomst.svg);
  background-size: cover;
  width: 110%;
  height: 100%;
}

#game_foreground {
  width: 31%;
  aspect-ratio: 560/635;
  position: absolute;
  top: 51%;
  left: 7%;
  background-image: url(svg/gommen.svg);
  background-size: cover;
  transform: rotate(6deg);
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#score_board {
  width: 8%;
  aspect-ratio: 180/190;
  position: absolute;
  top: 65%;
  left: 1%;
  background-image: url(svg/point.svg);
  background-size: cover;
}

#point {
  font-size: 1em;
  color: white;
  position: absolute;
  top: 117%;
  left: -6%;
}

#time_container {
  width: 13%;
  height: 43%;
  aspect-ratio: 250/375;
  position: absolute;
}

#time_sprite {
  background-image: url(svg/brud.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.timer_animation {
  animation-name: timer_animation_kf;
  animation-duration: 20s;
  animation-timing-function: linear;
}

@keyframes timer_animation_kf {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: translateX(16%) translateY(-95%) scale(0.3);
  }
}

#energy_board img {
  width: 12%;
}

#energy_board {
  aspect-ratio: 150/140;
  position: absolute;
  top: 0%;
  left: 0%;
}

#game_ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.fald {
  animation-name: fald_kf;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fald_kf {
  100% {
    transform: translateY(700%);
  }
}

.frys {
  animation-play-state: paused;
}

.forsvind_god {
  animation-name: forsvind_god_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes forsvind_god_kf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.forsvind_bad {
  animation-name: forsvind_bad_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes forsvind_bad_kf {
  50% {
    transform: scale(2) rotate(-360deg);
  }
  100% {
    transform: scale(0);
  }
}

.gray {
  filter: grayscale(1);
}

.hide {
  display: none;
}

.speed1 {
  animation-duration: 3s;
}

.speed2 {
  animation-duration: 2s;
}
.speed3 {
  animation-duration: 1s;
}

@media (min-width: 800px) {
  #game_over_points {
    color: white;
    font-size: 1.6em;
    font-family: helvetica;
    position: absolute;
    top: 50%;
    left: 26%;
  }
  #level_complete_points {
    color: white;
    font-size: 1.6em;
    font-family: helvetica;
    position: absolute;
    top: 46%;
    left: 26%;
  }
  #point {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 117%;
    left: -6%;
  }
}
