.logo img {
  max-width: 40%;
}

header nav ul {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  list-style-type: none;
}

header nav ul a {
  padding: 10px;
  font-size: 0.9em;
  width: 300px;
  text-decoration: none;
}

.splash h1 {
  text-align: center;
  font-size: 1.6em;
  line-height: 12px;
  word-spacing: 0.069em;
  font-weight: 300;
}

.splash h2 {
  text-align: center;
  font-size: 1.2em;
  line-height: 25px;
  word-spacing: 0.1036em;
  font-weight: 100;
}

.grid_forside img {
  max-width: 100%;
}

.grid_portfolio img {
  max-width: 100%;
}

.grid_portfolio p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.3;
  text-decoration: none;
}

.grid_portfolio h1 {
  font-size: 1.7em;
  font-weight: 300;
}

.grid_ux img {
  padding: 10px;
}
.grid_ux2 img {
  padding: 20px;
}

.col_web p {
  margin-right: 10px;
}

.col_mig li {
  line-height: 1.5;
  font-size: 0.7em;
}

.grid_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col_mig {
  padding: 10px;
  margin: 5px;
}

.col_mig h1 {
  margin-left: 10px;
}
.col_mig h3 {
  margin: 20px;
  font-size: 0.7em;
}

@media (min-width: 600px) {
  .logo img {
    max-width: 25%;
  }

  header li {
    font-size: 1.1em;
  }

  .col p {
    font-size: 1em;
  }
  .grid_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .splash h1 {
    text-align: center;
    font-size: 2.2em;
    line-height: 12px;
    word-spacing: 0.069em;
    font-weight: 200;
  }
  .splash h2 {
    text-align: center;
    font-size: 1.4em;
    line-height: 25px;
    word-spacing: 0.1036em;
    font-weight: 100;
  }

  .grid_ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_ux2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col_mig h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 1.2em;
  }
  .col_mig li {
    line-height: 1.7;
    font-size: 0.9em;
    margin-left: 10px;
  }
  .col_mig img {
    max-height: 80%;
  }
}

@media (min-width: 800px) {
  .grid_portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid_web {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
  }
  .grid_java {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
  }
  .grid_pilot {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_pilot p {
    margin-top: 60px;
  }
}
